* {
    margin: 20px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.user_container {
    border-style: solid;
    border-width: 3px;
    border-color: darkgray;
    background-color: darkslategray;
    color: white;
    width: 25%;
    height: 135%;
    padding: 20px;
    float: left;    
}

#r_name {
    position: absolute;
    top: 37%;
    left: 5.3%;
}

.r_user {
    height: 150;
    width: 150;
    position: relative;
    top: 50%;
    left: 18%;
}

.profile {
    margin: 50px auto;
    height: 55px;
    line-height: 5em;
    border-bottom: solid 3px black;
}

#profile {
    margin: auto;
    line-height: 1em;
    text-indent: 20px;
    position: relative;
    bottom: 25%;
    left: 3%;
}

.skills {
    margin: 50px auto;
    line-height: 15em;
    height: 135px;
    border-bottom: solid 3px black;
    color: black;
}

#skills {
    color: white;
}

.contacts {
    margin: 50px auto;
    line-height: 15em;
    height: 133px;
    border-bottom: solid 3px black;
}

.address {
    position: absolute;
    top: 86.4%;
    left: 6%;
    width: 35px;
    height: 37px;
}

#address {
    position: absolute;
    top: 71%;
    left: 9%;
}

.phone {
    position: absolute;
    top: 93%;
    left: 6%;
    width: 33px;
    height: 33px;
}

#phone {
    position: absolute;
    top: 78%;
    left: 9%;
}

.email {
    position: absolute;
    top: 100%;
    left: 6%;
    width: 28px;
    height: 20px;
}

#email {
    position: absolute;
    top: 83%;
    left: 9%;
}


#html {
    position: absolute;
    top: 115%;
    left: 4.5%;
}

#css {
    position: absolute;
    top: 114%;
    left: 10.5%;
}

#programming {
    position: absolute;
    top: 115%;
    left: 17%;
}

#photoshop {
    position: absolute;
    top: 114.5%;
    left: 23%;
}


/* The side B of the website*/

.imagebanner {
    position: relative;
    bottom: 5%;
    right: 7%;
    text-align: center;
}

#iBanner {
    opacity: 0.5;
}

.textbanner {
    position: absolute;
    top: 20%;
    left: 10%;
    text-transform: uppercase;
    font-size: 50px;
    border-style: solid;    
    border-width: 3px;
    border-color:  black;
    padding: 5px;
}

.sendme {
    position: absolute;
    top: 50%;
    left: 34%;
}
ul {
    padding: 15px;
    margin: auto;
    text-align: left;
}
    

li {
    display: inline;
    margin: 0px 3px;
}

li a {
    background-color: black;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color: gray;
    color: black;
}   


.sideB {
    width: 61%;
    height: 150%;
    padding: 20px;
    float: left;   
}

.sideInfo {
    position: relative;
    bottom: 6%;
    right: 6%;
}

#personinfo, #education {
    background-color: darkslategray;
    color: white;
    padding: 7px;
    width: 96%;
}

.infcontent {
    margin: 25px;
}

#picEdu1 {
    position: relative;
    top: 42%;
    left: 5%;
}

#eKtmsces {
    position: absolute;
    top: 78%;
    left: 17%;
}


#picEdu2 {
    position: absolute;
    top: 93.5%;
    left: 7.5%;
}

#eDcnhs {
    position: absolute;
    top: 98%;
    left: 17%;
}


#picEdu3 {
    position: absolute;
    top: 113%;
    left: 7.5%;
}

#eUsep {
    position: absolute;
    top: 114%;
    left: 17%;
}

footer {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 0.5px;
    clear: both;
}

.Rfooter {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 0.5px;
    clear: both;
	position: absolute;
	top: 155%;
	left: 3.5%;
	width: 85%;
}

/* CONTACT cascading style sheet */

.banner {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

input {
    font-size: 20px;
    color: #5a5854;
    background-color: #f2f2f2;
    border-style: solid ;
    border-width: 1px;
    border-color: #bdbdbd;
    border-radius: 5px;
    padding: 5px;
    display: block;
}


input:focus, input:hover {
    background-color: #f2f2f2;
    border: 1px;
}

#Send {
    background-color: #f44336;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
}

#Send:hover {
    background-color: gray;
}

textarea {
    font-size: 20px;
    color: #5a5854;
    border-style: solid;
    border-radius: 5px;
    border-color: #bdbdbd;
    background-color: #f2f2f2;
}


.container {
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
    padding: 20px;
}

.social {
    float: right;
    padding: 30px;
}


.c_gmail {
    width: 70px;
    height: 70px;
    padding: 10px;
    position: absolute;
    top: 53%;
    left: 50%;
}

.c_twitter {
    width: 70px;
    height: 67px;
    padding: 10px;
    position: absolute;
    top: 68%;
    left: 50%;
}

.c_facebook {
    width: 65px;
    height: 58px;
    padding: 10px;
    position: absolute;
    top: 85%;
    left: 50%;
}

#emailad {
    position: absolute;
    top: 58%;
    left: 58%;
}

#tweet {
    position: absolute;
    top: 74%;
    left: 58%;
}

#fb {
    position: absolute;
    top: 90%;
    left: 58%;
}

#c_social {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    text-transform: uppercase;
}

#Lname, #Lemail, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}